# Clerk Authentication Key
VITE_CLERK_PUBLISHABLE_KEY=pk_test_aW5ub2NlbnQtaGVkZ2Vob2ctMzAuY2xlcmsuYWNjb3VudHMuZGV2JA

# Backend API URL (default is http://localhost:5000)
VITE_API_URL=http://localhost:5000
